@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: hsl(180, 31%, 95%);
  overflow-x: hidden;
}
.bg-header {
  background-color: hsl(180, 29%, 50%);
}
.container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.background {
  background-image: url(images/bg-header-desktop.svg);
  width: 100vw;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}
.content:nth-child(1) {
  border-left: 5px solid hsl(180, 29%, 50%);
}
.content:nth-child(2) {
  border-left: 5px solid hsl(180, 29%, 50%);
}
.content {
  width: 800px;
  margin-top: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 10px 8px 10px hsla(180 29% 50% / 20%);
  margin-top: 50px;
  border-radius: 5px;
}
.left {
  display: flex;
  justify-content: center;
}
.detail .top {
  display: flex;
}
.detail .bottom {
  display: flex;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photosnap {
  font-weight: 700;
  color: hsl(180, 29%, 50%);
  margin: 10px 0;
}
.image img {
  width: 70px;
  margin: 10px;
}
.new-tag {
  margin: 15px;
  background-color: hsl(180, 29%, 50%);
  color: white;
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}
.featured-tag {
  margin: 15px 0;
  background-color: hsl(180, 14%, 20%);
  padding: 4px 8px;
  border-radius: 15px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}
.middle {
  font-size: 20px;
  font-weight: 700;
  color: hsl(180, 14%, 20%);
}
.bottom p {
  font-size: 12px;
  margin: 10px 10px;
  color: hsl(180, 8%, 52%);
}
.bottom p span {
  margin-right: 10px;
}
.right p {
  margin-left: 10px;
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
}
.contents {
  position: relative;
}
.tabover {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: -20px;
  box-shadow: 10px 8px 10px hsla(180 29% 50% / 20%);
}
.tabcont {
  display: flex;
}
.tab {
  padding: 0px 0px 0px 10px;
  background-color: hsl(180, 31%, 95%);
  border-radius: 2px;
  margin-right: 10px;
  color: hsl(180, 29%, 50%);
  font-weight: 600;
}
.tab-span {
  background-color: hsl(180, 29%, 50%);
  font-size: 25px;
  font-weight: 600;
  padding: 0px 5px;
  text-align: center;
  color: aliceblue;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 2px;
}
.tabclear {
  color: hsl(180, 29%, 50%);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 5px;
}
